# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/


#idead
.idea
taming/modules/autoencoder
**logs
logs_vqgan
condor_logs
logs_condor
**_backup
**DS_Store
.vscode
images_ardzdf
enc_embedding_dist
*.pyc
**.pyc